.userPhoto {
    width: 80px;
    height: 80px;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
}

.paginator{
    margin: 10px;
    
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    border-radius: 50%;

}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}